.release-detail-container {
    display: flex;
    margin-top: 30px;
}

// left-side top

.release-detail-left {
    min-width: 300px;
    margin-right: 10px;
}

.player-container {
    height: 55px;
}


.release-detail-artistlink {
    color: darkmagenta;
}

.release-detail-artistlink:hover, .release-detail-purchaseLink:hover {
    text-decoration: underline;
}

.release-detail-price {
    font-style: italic;
}

.release-detail-left-info > p {
    margin: 6px;
}

.release-detail-artistname {
    font-size: 30px;
}

.release-detail-price {
    font-size: 20px;
    color: darkmagenta;
}
                
.release-detail-title {
    font-size: 44px;
    font-weight: bold;
}

// left-side track table

.track-table {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.track-table-item {
    margin: 10px 0;
    font-size: 22px;
}
.play-button {
    padding-right: 5px;
    color: gray;
}
.play-button:hover {
    color: darkmagenta;
    cursor: pointer;   
}

// left-side new track button

.new-track-link {
    width: 80%;
    background-color: darkmagenta;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    padding: 6px;
    margin: 15px 0;
    text-align: center;
    
}

.new-track-link:hover {
    text-decoration: underline;
}

// right-side

.release-detail-right-image {
    width: 400px;
}

.release-detail-right-text {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;

    color: rgb(72,72,72);
    font-size: 18px;

    text-align: center;

    margin-bottom: 20px;
}

.release-detail-right-text-item {
    padding: 0 15px;
}