.artist-detail {
    display: flex;
}

.artist-right {
    margin: 30px;
}

.artist-right img {
    max-width: 300px;
    margin-bottom: 10px;
}

.artist-right-username {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.artist-right-description {
    font-size: 18px;
}