.header {
    height: 125px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.header-left, .header-right {
    display: flex;
    height: 100%;
}

.header-left {
    flex-direction: column;
    justify-content: space-evenly;
}

.header-left-logo {
    height: calc(0.8 * 99px);
    width: calc(0.8 * 186px);
}

.header-left-text {
    font-size: 18px;
}

.header-middle {
    min-width: 5%;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    font-size: 18px;
}

.header-right-greetingtext {
    font-weight: bold;
    padding: 12px;
}

.header-button:hover {
    text-decoration: underline;
}