.releases-index {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-start;
    align-content: center;
}

.release-item {
    margin: 20px;
}

.release-item-image {
    height: 300px;
    width: 300px;
}

.release-artist {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.release-artist:hover {
    text-decoration: underline;
}

.release-title {
    font-size: 18px;
    margin: 7px 0;
}

.release-genre {
    color: gray;
}