.releases-index {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: flex-start;
    margin-top: 10px;
}

.release-item {
    margin: 20px;
}

.release-item-image {
    height: 250px;
    width: 250px;
}

.release-artist {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.release-artist:hover {
    text-decoration: underline;
}

.release-title {
    font-size: 18px;
    margin: 7px 0;
}

.release-genre {
    color: gray
}